{% extends "base.html" %}
{% block subtitle %}
Register
{% endblock %}
{% block css %}
<link rel="stylesheet" href="static/css/form.css" />
{% endblock %}
{% block body %}
<h1>Register</h1>
<div class="form-wrapper">
	<form method="post" class="form">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
		<input type="submit" value="Register" id="submit" />
	</form>
</div>
{% endblock %}
{% block js %}
<script src="static/js/login.js"></script>
{% endblock %}

